<app-nav></app-nav>
  <section class="about-us">
    <div class="container">
      <h1>About Us</h1>
      <p>Welcome to our unity-promoting app! We believe in the power of coming together, celebrating diversity, and fostering
        unity among all Indians. Our app provides a platform where people can connect, play games, share articles, and contribute
        towards building a more inclusive society.</p>
      <p>With our engaging games, we aim to bring people from different backgrounds closer and strengthen the bonds of unity.
        Our collection of articles focuses on promoting understanding, empathy, and respect for each other's cultures, traditions,
        and beliefs. This is Unity*</p>
      <p>Join us in our journey towards a harmonious India, where unity prevails, and together we can make a difference.</p>
    </div>
  </section>

  