<header class="nav-bar">
  <nav class="nav-bar__container">
    <a routerLink="/" class="nav-bar__logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg5xUntf73ZKB5aghxPNJQvb_zkNTAbiYu_y5zoJxvuQ&usqp=CAU&ec=48600113" alt="100%">
    </a>
    <ul class="nav-bar__menu">
      <li><a routerLink="/game">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>
</header>
